/* Write your CSS here! */
a  
{
    display:block;
}

body
  {
    margin: 8 px;
  }
  
  #mainheading
  {
    color: red;
  }

  .funparagraph
  {
    color: green;
  }

  p
  {
    color :black;
  }

  h1
  {
    color :black;
  }
  

