/* Write your CSS here! */
  

  body
  {
    margin: 8px;
    display: block;
  }
  
  #mainHeading
  {
    color: red;
  }

  .funParagraph
  {
    color: green;
  }

  p
  {
    color :black;
  }

  h1
  {
    color :black;
  }
  

